In [1]:
!pip install pandas
!pip install openpyxl

Requirement already satisfied: pandas in /Users/jaskeerat/miniforge3/envs/jupyter_env/lib/python3.10/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.22.4 in /Users/jaskeerat/miniforge3/envs/jupyter_env/lib/python3.10/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/jaskeerat/miniforge3/envs/jupyter_env/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/jaskeerat/miniforge3/envs/jupyter_env/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/jaskeerat/miniforge3/envs/jupyter_env/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/jaskeerat/miniforge3/envs/jupyter_env/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: openpyxl in /Users/jaskeerat/miniforge3/envs/jupyter_env/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/jaskeerat/miniforge3/envs/jupyter_env/lib/python3.10/site-packages (from openpyxl) (2.0.0)

In [2]:
import pandas as pd
import numpy as np

In [3]:
data_df = pd.read_excel("Moving annual median rent by suburb and town - March quarter 2025.xlsx", sheet_name=None, header=None, skiprows=1)

all_df = pd.DataFrame()
for name, df in data_df.items():
    header1 = df.iloc[0].astype(str)
    header2 = df.iloc[1].astype(str)
    header = header1 + "_" + header2
    
    df = df.iloc[2:].reset_index(drop=True)
    df.columns = ["region", "suburb"] + list(header[2:])
    
    df = df.replace(r'^\s*$', pd.NA, regex=True).replace("-", pd.NA).dropna(axis=1, how='all')
    df["region"] = df["region"].ffill()
    df["type"] = name
    df = df[df["suburb"] != "Group Total"]

    all_df = pd.concat([all_df, df], ignore_index=True)

all_df.head()

/var/folders/jf/rtxx_ysd6zxdj8lzpl5gbqyc0000gp/T/ipykernel_63394/337317490.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace(r'^\s*$', pd.NA, regex=True).replace("-", pd.NA).dropna(axis=1, how='all')
/var/folders/jf/rtxx_ysd6zxdj8lzpl5gbqyc0000gp/T/ipykernel_63394/337317490.py:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["type"] = name

,region,suburb,Mar 2000_Count,Mar 2000_Median,Jun 2000_Count,Jun 2000_Median,Sep 2000_Count,Sep 2000_Median,Dec 2000_Count,Dec 2000_Median,...,Mar 2024_Median,Jun 2024_Count,Jun 2024_Median,Sep 2024_Count,Sep 2024_Median,Dec 2024_Count,Dec 2024_Median,Mar 2025_Count,Mar 2025_Median,type
0,Inner Melbourne,Albert Park-Middle Park-West St Kilda,352,165,347,165,378,170,369,175,...,425,190,428,177,450,163,450,174,450,1 bedroom flat
1,Inner Melbourne,Armadale,210,150,212,150,213,155,213,160,...,430,147,450,151,460,168,450,176,450,1 bedroom flat
2,Inner Melbourne,Carlton North,87,150,78,155,74,150,65,150,...,400,43,400,48,410,44,420,45,420,1 bedroom flat
3,Inner Melbourne,Carlton-Parkville,298,165,297,170,312,175,346,180,...,450,1115,470,1105,485,1079,495,1079,500,1 bedroom flat
4,Inner Melbourne,CBD-St Kilda Rd,755,250,861,250,934,250,952,250,...,550,6070,550,5984,550,5946,550,6084,550,1 bedroom flat

In [4]:
final_df = all_df.melt(
    id_vars=["region", "suburb", "type"],
    var_name="variable",
    value_name="value"
)

final_df[["timestamp", "metric"]] = final_df["variable"].str.rsplit("_", n=1, expand=True)
final_df = final_df.pivot_table(
    index=["region", "suburb", "type", "timestamp"],
    columns="metric",
    values="value",
    aggfunc="first"
).reset_index()

final_df["timestamp"] = pd.to_datetime(final_df["timestamp"], format="%b %Y")
final_df = final_df.sort_values(["region", "suburb", "type", "timestamp"])

final_df.head(50)

metric    region    suburb            type  timestamp Count Median
50      Ballarat  Ballarat  1 bedroom flat 2000-03-01    69     80
25      Ballarat  Ballarat  1 bedroom flat 2000-06-01    72     80
76      Ballarat  Ballarat  1 bedroom flat 2000-09-01    76     85
0       Ballarat  Ballarat  1 bedroom flat 2000-12-01    79     85
51      Ballarat  Ballarat  1 bedroom flat 2001-03-01    77     85
26      Ballarat  Ballarat  1 bedroom flat 2001-06-01    84     85
77      Ballarat  Ballarat  1 bedroom flat 2001-09-01    83     85
1       Ballarat  Ballarat  1 bedroom flat 2001-12-01    78     85
52      Ballarat  Ballarat  1 bedroom flat 2002-03-01    80     90
27      Ballarat  Ballarat  1 bedroom flat 2002-06-01    75     90
78      Ballarat  Ballarat  1 bedroom flat 2002-09-01    75     90
2       Ballarat  Ballarat  1 bedroom flat 2002-12-01    73     90
53      Ballarat  Ballarat  1 bedroom flat 2003-03-01    65     95
28      Ballarat  Ballarat  1 bedroom flat 2003-06-01    65     95
79      Ballarat  Ballarat  1 bedroom flat 2003-09-01    69     95
3       Ballarat  Ballarat  1 bedroom flat 2003-12-01    73     95
54      Ballarat  Ballarat  1 bedroom flat 2004-03-01    81    100
29      Ballarat  Ballarat  1 bedroom flat 2004-06-01    82    100
80      Ballarat  Ballarat  1 bedroom flat 2004-09-01    76    100
4       Ballarat  Ballarat  1 bedroom flat 2004-12-01    75    100
55      Ballarat  Ballarat  1 bedroom flat 2005-03-01    64    100
30      Ballarat  Ballarat  1 bedroom flat 2005-06-01    58    100
81      Ballarat  Ballarat  1 bedroom flat 2005-09-01    58    100
5       Ballarat  Ballarat  1 bedroom flat 2005-12-01    54    105
56      Ballarat  Ballarat  1 bedroom flat 2006-03-01    53    105
31      Ballarat  Ballarat  1 bedroom flat 2006-06-01    46    108
82      Ballarat  Ballarat  1 bedroom flat 2006-09-01    45    110
6       Ballarat  Ballarat  1 bedroom flat 2006-12-01    35    110
57      Ballarat  Ballarat  1 bedroom flat 2007-03-01    30    108
32      Ballarat  Ballarat  1 bedroom flat 2007-06-01    39    110
83      Ballarat  Ballarat  1 bedroom flat 2007-09-01    31    110
7       Ballarat  Ballarat  1 bedroom flat 2007-12-01    46    115
58      Ballarat  Ballarat  1 bedroom flat 2008-03-01    53    115
33      Ballarat  Ballarat  1 bedroom flat 2008-06-01    53    120
84      Ballarat  Ballarat  1 bedroom flat 2008-09-01    72    120
8       Ballarat  Ballarat  1 bedroom flat 2008-12-01    77    120
59      Ballarat  Ballarat  1 bedroom flat 2009-03-01    93    125
34      Ballarat  Ballarat  1 bedroom flat 2009-06-01   107    130
85      Ballarat  Ballarat  1 bedroom flat 2009-09-01   104    130
9       Ballarat  Ballarat  1 bedroom flat 2009-12-01   115    130
60      Ballarat  Ballarat  1 bedroom flat 2010-03-01   107    130
35      Ballarat  Ballarat  1 bedroom flat 2010-06-01   113    130
86      Ballarat  Ballarat  1 bedroom flat 2010-09-01   121    135
10      Ballarat  Ballarat  1 bedroom flat 2010-12-01   107    140
61      Ballarat  Ballarat  1 bedroom flat 2011-03-01   122    140
36      Ballarat  Ballarat  1 bedroom flat 2011-06-01   115    140
87      Ballarat  Ballarat  1 bedroom flat 2011-09-01   117    140
11      Ballarat  Ballarat  1 bedroom flat 2011-12-01   113    145
62      Ballarat  Ballarat  1 bedroom flat 2012-03-01   107    150
37      Ballarat  Ballarat  1 bedroom flat 2012-06-01   112    150

In [5]:
final_df.to_csv("historical_forcast_cleaned.csv", index=False)